AnnotateTools/dependency/ESS/asset/ESS_STDL 1_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
         <xs:element name="studyLevel1">
               <xs:complexType>
                     <xs:all>
                           <xs:element name="essVersion" type="xs:string" minOccurs="0"></xs:element>
                           <xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
                           <xs:element name="shortDescription" type="xs:string" minOccurs="0"></xs:element>
                           <xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
                           <xs:element name="uuid" type="xs:string" minOccurs="0"></xs:element>
                           <xs:element name="rootURI" type="xs:string" minOccurs="0"></xs:element>
						   <xs:element name="eventSpecificationMethod" type="xs:string" minOccurs="0"></xs:element>
						   <xs:element name="isInEssContainer" type="xs:string" minOccurs="0"></xs:element>
                           <xs:element name="project" minOccurs="0">
                                 <xs:complexType>
                                       <xs:choice maxOccurs="unbounded">
                                             <xs:element name="funding">
                                                   <xs:complexType>
                                                         <xs:all>
                                                               <xs:element name="organization" type="xs:string" minOccurs="0"></xs:element>
                                                               <xs:element name="grantId" minOccurs="0"></xs:element>
                                                         </xs:all>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:choice>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="recordingParameterSets" minOccurs="0">
                                 <xs:complexType>
                                       <xs:choice maxOccurs="unbounded">
                                             <xs:element name="recordingParameterSet" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:all>
                                                               <xs:element name="recordingParameterSetLabel" type="xs:string" minOccurs="0"></xs:element>
                                                               <xs:element name="channelType" minOccurs="0">
                                                                     <xs:complexType>
                                                                           <xs:choice maxOccurs="unbounded">
                                                                                 <xs:element name="modality" maxOccurs="unbounded">
                                                                                       <xs:complexType>
                                                                                             <xs:choice maxOccurs="unbounded">
                                                                                                   <xs:element name="type" type="xs:string"></xs:element>
                                                                                                   <xs:element name="samplingRate" type="xs:string"></xs:element>
                                                                                                   <xs:element name="name" type="xs:string"></xs:element>
                                                                                                   <xs:element name="description"></xs:element>
                                                                                                   <xs:element name="startChannel" type="xs:string"></xs:element>
                                                                                                   <xs:element name="endChannel" type="xs:string"></xs:element>
                                                                                                   <xs:element name="subjectInSessionNumber" type="xs:string"></xs:element>
                                                                                                   <xs:element name="referenceLocation" type="xs:string"></xs:element>
                                                                                                   <xs:element name="referenceLabel" type="xs:string"></xs:element>
                                                                                                   <xs:element name="channelLocationType" type="xs:string"></xs:element>
                                                                                                   <xs:element name="channelLabel" type="xs:string"></xs:element>
                                                                                                   <xs:element name="nonScalpChannelLabel" type="xs:string"></xs:element>
                                                                                             </xs:choice>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:choice>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:all>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:choice>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="sessions" minOccurs="0">
                                 <xs:complexType>
                                       <xs:choice maxOccurs="unbounded">
                                             <xs:element name="session" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:choice maxOccurs="unbounded">
                                                               <xs:element name="number" type="xs:int"></xs:element>
                                                               <xs:element name="taskLabel" type="xs:string"></xs:element>
                                                               <xs:element name="purpose" type="xs:string"></xs:element>
                                                               <xs:element name="labId" type="xs:string"></xs:element>
                                                               <xs:element name="subject" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:all>
                                                                                 <xs:element name="labId" type="xs:string" minOccurs="0"></xs:element>
                                                                                 <xs:element name="inSessionNumber" type="xs:string" minOccurs="0"></xs:element>
                                                                                 <xs:element name="group" type="xs:string" minOccurs="0"></xs:element>
                                                                                 <xs:element name="gender" type="xs:string" minOccurs="0"></xs:element>
                                                                                 <xs:element name="YOB" type="xs:string" minOccurs="0"></xs:element>
                                                                                 <xs:element name="age" type="xs:string" minOccurs="0"></xs:element>
                                                                                 <xs:element name="hand" type="xs:string" minOccurs="0"></xs:element>
                                                                                 <xs:element name="vision" type="xs:string" minOccurs="0"></xs:element>
                                                                                 <xs:element name="hearing" type="xs:string" minOccurs="0"></xs:element>
                                                                                 <xs:element name="height" type="xs:string" minOccurs="0"></xs:element>
                                                                                 <xs:element name="weight" type="xs:string" minOccurs="0"></xs:element>																				 
                                                                                 <xs:element name="medication" minOccurs="0">
                                                                                       <xs:complexType>
                                                                                             <xs:choice maxOccurs="unbounded">
                                                                                                   <xs:element name="caffeine" type="xs:string"></xs:element>
                                                                                                   <xs:element name="alcohol" type="xs:string"></xs:element>
                                                                                             </xs:choice>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="channelLocations" type="xs:string" minOccurs="0"></xs:element>																				 
																				  <xs:element name="additionalInformation" minOccurs="0">
                                                                                       <xs:complexType>
                                                                                             <xs:choice maxOccurs="unbounded">
                                                                                                   <xs:any minOccurs="0" processContents="skip"/>
                                                                                             </xs:choice>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:all>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="notes">
                                                                     <xs:complexType>
                                                                           <xs:choice maxOccurs="unbounded">
                                                                                 <xs:element name="note" type="xs:string"></xs:element>
                                                                                 <xs:element name="linkName"></xs:element>
                                                                                 <xs:element name="link"></xs:element>
                                                                           </xs:choice>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="dataRecordings">
                                                                     <xs:complexType>
                                                                           <xs:choice maxOccurs="unbounded">
                                                                                 <xs:element name="dataRecording" maxOccurs="unbounded">
                                                                                       <xs:complexType>
                                                                                             <xs:choice maxOccurs="unbounded">
                                                                                                   <xs:element name="filename" type="xs:string"></xs:element>
																								   <xs:element name="dataRecordingUuid" type="xs:string"></xs:element>
                                                                                                   <xs:element name="startDateTime" type="xs:string"></xs:element>
                                                                                                   <xs:element name="recordingParameterSetLabel" type="xs:string"></xs:element>
                                                                                                   <xs:element name="eventInstanceFile" type="xs:string"></xs:element>
																								   <xs:element name="originalFileNameAndPath" type="xs:string"></xs:element>
                                                                                             </xs:choice>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:choice>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:choice>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:choice>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="tasks" minOccurs="0">
                                 <xs:complexType>
                                       <xs:choice maxOccurs="unbounded">
                                             <xs:element name="task" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:choice maxOccurs="unbounded">
                                                               <xs:element name="taskLabel" type="xs:string"></xs:element>
                                                               <xs:element name="tag" type="xs:string"></xs:element>
                                                               <xs:element name="description" type="xs:string"></xs:element>
                                                         </xs:choice>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:choice>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="eventCodes" minOccurs="0">
                                 <xs:complexType>
                                       <xs:choice maxOccurs="unbounded">
                                             <xs:element name="eventCode" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:choice maxOccurs="unbounded">
                                                               <xs:element name="code" type="xs:string"></xs:element>
                                                               <xs:element name="taskLabel" type="xs:string"></xs:element>
                                                               <xs:element name="condition">
                                                                     <xs:complexType>
                                                                           <xs:choice maxOccurs="unbounded">
                                                                                 <xs:element name="label" type="xs:string"></xs:element>
                                                                                 <xs:element name="description" type="xs:string"></xs:element>
                                                                                 <xs:element name="tag" type="xs:string"></xs:element>
                                                                           </xs:choice>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:choice>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:choice>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="summary" minOccurs="0">
                                 <xs:complexType>
                                       <xs:all>
                                             <xs:element name="totalSize" type="xs:string" minOccurs="0"></xs:element>
                                             <xs:element name="allSubjectsHealthyAndNormal" type="xs:string" minOccurs="0"></xs:element>
                                             <xs:element name="license">
                                                   <xs:complexType>
                                                         <xs:all>
                                                               <xs:element name="type" minOccurs="0"></xs:element>
                                                               <xs:element name="text" minOccurs="0"></xs:element>
                                                               <xs:element name="link" minOccurs="0"></xs:element>
                                                         </xs:all>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:all>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="publications" minOccurs="0">
                                 <xs:complexType>
                                       <xs:choice maxOccurs="unbounded">
                                             <xs:element name="publication">
                                                   <xs:complexType>
                                                         <xs:choice maxOccurs="unbounded">
                                                               <xs:element name="citation"></xs:element>
                                                               <xs:element name="DOI"></xs:element>
                                                               <xs:element name="link"></xs:element>
                                                         </xs:choice>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:choice>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="experimenters" minOccurs="0">
                                 <xs:complexType>
                                       <xs:choice maxOccurs="unbounded">
                                             <xs:element name="experimenter">
                                                   <xs:complexType>
                                                         <xs:all>
                                                               <xs:element name="name" minOccurs="0"></xs:element>
                                                               <xs:element name="role" minOccurs="0"></xs:element>
                                                         </xs:all>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:choice>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="contact" minOccurs="0">
                                 <xs:complexType>
                                       <xs:choice maxOccurs="unbounded">
                                             <xs:element name="name"></xs:element>
                                             <xs:element name="phone"></xs:element>
                                             <xs:element name="email"></xs:element>
                                       </xs:choice>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="organization" minOccurs="0">
                                 <xs:complexType>
                                       <xs:all>
                                             <xs:element name="name" minOccurs="0"></xs:element>
                                             <xs:element name="logoLink" minOccurs="0"></xs:element>
                                       </xs:all>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="copyright" minOccurs="0"></xs:element>
                           <xs:element name="IRB" minOccurs="0"></xs:element>
                     </xs:all>
               </xs:complexType>
         </xs:element>
   </xs:schema>